*{
   margin: 0px;
   padding:0px;
   box-sizing: border-box ;
   font-variant: small-caps;
   letter-spacing: 1px;
   line-height: 1.6;
   font-family: Arial, sans-serif;
   
 }
   body {
    margin: 0;
    padding: 0;
    background-color:#87CEFA;
    background-image: url('https://i.pinimg.com/1200x/66/ae/6f/66ae6f77ed5afbfecade78d03e73e411.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
    height: 75px;
    background: linear-gradient(to left, #ff69b4aa, #87cefaaa, #ffeb3baa);
    background-color: white; 
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
   }
 
 
 header img{
    max-height: 75px;
    cursor: pointer;
 }


.highlight {
    color: #1D0EC2;
}

.content {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
}

.right-about,
.second {
    padding: 30px;
    background-color: white;
    border: 4px solid #ff99cc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 60%;
    max-width: 800px;
    text-align: center;

}

nav ul{
    display: flex; /* put items in a row */
    list-style: none;
    gap: 40px; /* spacing between items */
 }
 nav li{
    display:inline-block;
    list-style: none;
 }
 nav li a{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;
    color:black;
    text-decoration: none;
    color:#222;
 }
 nav li a:hover{
    color:darkmagenta;
    transition:all 0.4s ease 0s;
 }
 footer{
   background: #6a6a6a;
   color: white;
   font-size: 1.5rem;
   text-align: center;
   padding: 20px;
}