   body {
    margin: 0;
    padding: 0;
    background-color:#87CEFA;
    background-image: url('https://i.pinimg.com/1200x/66/ae/6f/66ae6f77ed5afbfecade78d03e73e411.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between; /* logo left, nav right */
    align-items: center;
    padding: 0 50px;
    height: 75px;
    background: linear-gradient(to left, #ff69b4, #87cefa, #ffeb3b); /* With sticky, the header stays in the normal flow (so it pushes content down) 
    until you scroll, then it sticks to the top. No padding-top needed. */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* keeps it above other elements */
   }
 
 
 header img{
    max-height: 75px;
    cursor: pointer;
 }


.highlight {
    color: #1D0EC2;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
}

.right-about,
.second {
    padding: 30px;
    background-color: white;
    border-left: 5px solid #ff69b4;
    border-bottom: 5px solid #ff69b4;
    border-right: 5px solid #ff69b4;
    border-top: 5px solid #ff69b4;
    border-radius: 8px;
    box-sizing: border-box;

    width: 60%;
    max-width: 800px;
    text-align: center;

}

nav ul{
    display: flex; /* put items in a row */
    list-style: none;
    gap: 40px; /* spacing between items */
 }
 nav li{
    display:inline-block;
    list-style: none;
 }
 nav li a{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;
    color:black;
    text-decoration: none;
 }
 nav li a:hover{
    color:darkmagenta;
    transition:all 0.4s ease 0s;
 }