body {
  background-color: black;
}

h1 {color:white;}
  h1 {text-align: center;}
  p {text-align: center; font-size: 50px;}
  div {text-align: center;}
  h3 {color:white; text-align: center;}
  label {color:white; text-align: center; margin: 0 auto; width:250px;}
  form {margin: 0 auto; width:250px;}

