*{
   margin: 0px;
   padding:0px;
   box-sizing: border-box ;
   font-variant: small-caps;
   letter-spacing: 1px;
   line-height: 1.6;
   font-family: Arial, sans-serif;
   
 }
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: black;
    color: white;
    gap: 60px;
}


.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.pink-circle {
    width: 45px;
    height: 45px;
    background: hotpink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    font-size: 1.2rem;
}


.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}


.contact-form textarea:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}


.contact-form button {
    background: hotpink;
    border: none;
    padding: 14px;
    color: white;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background: deeppink;
    transform: scale(1.05);
}
