 *{
    margin: 0px;
    padding:0px;
    box-sizing: border-box ;
 }

 /* Fixed = glue the whole bar to the top.
Flex = organize the content inside that glued bar.*/
 header{
    display: flex;
    justify-content: space-between; /* logo left, nav right */
    align-items: center;
    padding: 0 50px;
    height: 75px;
    background: linear-gradient(to left, #ff69b4, #87cefa, #ffeb3b);
    position: sticky; /* With sticky, the header stays in the normal flow (so it pushes content down) 
    until you scroll, then it sticks to the top. No padding-top needed. */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* keeps it above other elements */
    

 }
 
 
 header img{
    max-height: 75px;
    cursor: pointer;
 }
 nav ul{
    display: flex; /* put items in a row */
    list-style: none;
    gap: 40px; /* spacing between items */
 }
 nav li{
    display:inline-block;
    list-style: none;
 }
 nav li a{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;
    color:black;
    text-decoration: none;
 }
 nav li a:hover{
    color:darkmagenta;
    transition:all 0.4s ease 0s;
 }

 
.cover{
    background: linear-gradient(to left, #ff69b4, #87cefa, #ffeb3b);
    color: white;
    text-align: center;
    padding: 150px 20px 100px;
    font-weight: bold;
    font-size: 20px;
    margin-top:60px;

}
.cover h1 {
    font-size: 45px;
}
.cover p{
    font-size: 25px;
    margin-top: 10px;
}
.gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap:15px;
   padding:40px 20px;
}
.gallery img{
   width: 300px;
   height:400px;
   object-fit: cover;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}
.services{
   background-color: #f0f0f0;
   text-align: center;
   padding: 60px 20px;
}
.services h3{
   padding: 30px 10px;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.services ul{
   list-style-type:none;
   padding: 0;
}
.services ul li{
   margin-top: 10px;
   color:black;


}
.services ul li a:hover{
   color: red;
   cursor: pointer;

}
.booking {
   text-align: center;
   padding: 50px 20px;
   background: #87cefa;
   color: white;

}
.booking h4{
   margin-bottom: 10px;
   font-size: 18px;
}
.booking button{
   background: #ff69b4;
   border: none;
   padding: 15px 30px;
   font-size: 18px;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}
.booking button:hover{
   background: #ff1493;
}
footer{
   background: #6a6a6a;
   color: white;
   text-align: center;
   padding: 20px;
}
